<div id="report">
  <!-- Example row of columns -->


    {% if sections is iterable %}

      {% for section in sections %}
      <div class="row">
        <div class="col py-1">
        {% if section.heading is defined %}
        <h2 class="section-title" id="section_{{ section.heading|u.snake }}">{{ section.heading }}</h2>
        {{ section.body | raw }}
        {% else %}
          <!-- no heading -->
          {{ section | raw }}
        {% endif %}
        </div>
      </div>
      {% endfor %}
      {% else %}
      <div class="row alt">
      {{ sections | raw }}
      </div>
    {% endif %}

</div> <!-- /report -->
