<div class="row result-group py-3">
  <div class="col">
    <h3 id="{{ audit_response.policy.name }}">{{ audit_response.policy.title }}</h3>

    {{ include(template_from_string(audit_response.policy.description | mustache2twig)) | markdown_to_html }}

    <div class="card border-danger mb-3">
      <div class="card-header alert-primary">Failure</div>
      <div class="card-body">
        <div class="card-text">
        {% with audit_response.tokens %}
        {{ include(template_from_string(audit_response.policy.failure | mustache2twig)) | markdown_to_html }}
        {% endwith %}
        </div>
      </div>
    </div>

    {% if audit_response.hasWarning %}
    <div class="card border-warning mb-3">
      <div class="card-header alert-warning">Warning</div>
      <div class="card-body">
        <div class="card-text">
        {% with audit_response.tokens %}
        {{ include(template_from_string(audit_response.policy.warning | mustache2twig)) | markdown_to_html }}
        {% endwith %}
        </div>
      </div>
    </div>
    {% endif %}

    <div class="card border-info mb-3">
      <div class="card-header alert-info">Remediation</div>
      <div class="card-body">
        <div class="card-text">
        {% with audit_response.tokens %}
        {{ include(template_from_string(audit_response.policy.remediation | mustache2twig)) | markdown_to_html }}
        {% endwith %}
        </div>
      </div>
    </div>

  </div>
</div>
