<div class="row result-group">
  <div class="col-sm-12 col-md-10">
    <h4 id="{{ result.policy.name }}">{{ result.policy.title }} <small class="label label-{{ result.type }}">{{ result.type|split('-')|join(' ')|title }} <span class="glyphicon {% if result.isSuccessful %}glyphicon-ok{% else %}glyphicon-remove{% endif %}" aria-hidden="true"></span></small></h4>
    {{ include(template_from_string(result.policy.description | mustache2twig )) | markdown_to_html }}
    <div class="panel panel-success">
      <div class="panel-heading">{{ result.type|split('-')|join(' ')|title }}</div>
      <div class="panel-body">
        {% with result.tokens %}
        {{ include(template_from_string(result.policy.success | mustache2twig)) | markdown_to_html }}
        {% endwith %}
        {% if result.hasWarning %}
        <div class="alert alert-warning" role="alert">
          {% with result.tokens %}
          {{ include(template_from_string(result.policy.warning | mustache2twig)) | markdown_to_html }}
          {% endwith %}
        </div>
        {% endif %}
      </div>
    </div>

  </div>
</div>
