<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{{ profile.title }} - {{ assessment.uri }}</title>
      {% block head_icons %}
      <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
      <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/drutiny/drutiny/2.2.x/assets/favicon-32x32.png" sizes="32x32">
      <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/drutiny/drutiny/2.2.x/assets/favicon-16x16.png" sizes="16x16">
      <link rel="manifest" href="https://raw.githubusercontent.com/drutiny/drutiny/2.2.x/assets/manifest.json">
      <link rel="mask-icon" href="https://raw.githubusercontent.com/drutiny/drutiny/2.2.x/assets/safari-pinned-tab.svg" color="#00a9e3">
      <meta name="theme-color" content="#ffffff">
      {% endblock %}
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/simplex/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.11.1/tocbot.css">
      {% include 'report/css/page.css' %}
      {% block extra_css %}{% endblock %}
    </head>
    <body data-spy="scroll" data-target="#toc">
      <a id="top"></a>
      <div class="jumbotron">
        <div class="container">
          <h1>{{ profile.title }}</h1>
          <p class="text-muted"><span class="assessment-uri">Prepared for <strong>{{ assessment.uri }}</strong></span><br> on <em>{{ "now"|date("F jS, Y") }}</em></p>

        </div>
      </div> <!-- /jumbotron -->

      <div class="container">
        <div class="row">
          {{ profile.description }}
        </div>

        <div class="row">
          <div class="col-lg-9">
          {% include 'report/page/sections.html.twig' %}
          </div> <!-- /col-lg-9 -->
          <div class="sidebar col-lg-3">
            <!-- #table_of_contents# -->
            <nav id="toc" data-toggle="toc" class="sticky-top"></nav>
          </div> <!-- /sidebar -->
        </div>
      </div> <!-- /container -->

      <footer>
        <p>&copy; Drutiny {{ 'now' | date('Y') }} | {{ "now"|date("F jS, Y") }}</p>
      </footer>
      {% include 'report/page/footer.html.twig' %}

    </body>
</html>
