{% block purpose %}
  {{ 'Purpose' | heading }}

  This report is designed to provide some feedback on the overall health of
  the web application by performing some deep dive analysis. The items
  surfaced in the report can help improve performance and stability.
{% endblock %}

{% block period %}
  {{ 'Reporting period' | heading }}

  Period | Date time
  ------ | ---------
  Start | {{ assessment.reportingPeriodStart.format('Y-m-d H:i:s e') }}
  End | {{ assessment.reportingPeriodEnd.format('Y-m-d H:i:s e') }}
{% endblock %}

{% block recommendations %}
  {% if assessment.results|filter(r => r.isFailure) is not empty %}
    {{ 'Recommendations' | heading }}
    {% for response in assessment.results|filter(r => r.isFailure) %}
      {% with response.tokens %}
        {{ include(template_from_string(response.policy.remediation | mustache2twig)) | markdown_to_html }}
      {% endwith %}
    {% endfor %}
  {% endif %}
{% endblock %}

{% block findings %}
  {{ 'Findings' | heading }}
  {% include 'report/page/severity_stats.html.twig' %}

  {{ 'Issue Summary' | heading }}
  {% include 'report/page/summary_table.html.twig' %}

  {% if assessment.results|filter(r => r.isFailure) is not empty %}
    {{ 'Issues' | heading }}
    {% for response in assessment.results|filter(r => r.isFailure) %}
      {{ policy_result(response, assessment) }}
    {% endfor %}
  {% endif %}

  {% if assessment.results|filter(r => r.hasWarning) is not empty %}
    {{ 'Warnings' | heading }}
    {% for response in assessment.results|filter(r => r.hasWarning) %}
      {{ policy_result(response, assessment) }}
    {% endfor %}
  {% endif %}
{% endblock %}

{% block appendix %}
  {% if assessment.results|filter(r => r.isNotice) is not empty %}
    <h2 id="appendix_analysis">Analysis</h2>

    The various appendices provides more detailed data regarding the health of
    the site.

    {% for response in assessment.results|filter(r => r.isNotice) %}
      {{ policy_result(response, assessment) }}
    {% endfor %}
  {% endif %}

  {% if assessment.results|filter(r => r.hasError) is not empty %}
    <h2 id="appendix_errors">Errors</h2>

    During the production of this report, not all report policies were able to
    be carried out due to errors encountered.

    {% for response in assessment.results|filter(r => r.hasError) %}
      {{ policy_result(response, assessment) }}
    {% endfor %}
  {% endif %}

  <h2 id="appendix_summary">Summary</h2>
  The below table describes all audit and analysis work completed for the
  production of this report and their associated outcomes.

  {% include 'report/page/appendix_table.html.twig' %}

  {% if assessment.results|filter(r => r.isSuccessful and not r.hasWarning and not r.isNotice) is not empty %}
    <h2 id="appendix_success">Successes</h2>
    {% for response in assessment.results|filter(r => r.isSuccessful and not r.hasWarning and not r.isNotice) %}
      {{ policy_result(response, assessment) }}
    {% endfor %}
  {% endif %}
{% endblock %}
